<div class="container">

    <div class="img">
        <img src="../../../../assets/success.webp" alt="">
    </div>

    <div class="page-title"><p>Data Imported Successfully!</p></div>

    <div class="title">
        <span>Student Details</span>
    </div>
    <div class="details-container">
        <div class="details-count details">
            <div class="info">
                <p>Student Details</p>
            </div>
            <div class="info">
                <p>Total No. of Records</p>
                <p>{{totalRecords}}</p>
            </div>
        </div>
        <div class="details-summery details">
            <div class="info success">
                <p>Success</p>
                <p>{{successRecords}}</p>
            </div>
            <div class="info failure">
                <p>Failure</p>
                <p>{{failedRecords}}</p>
            </div>
        </div>
    </div>
</div>