<div class="file-drop-container">
    <ngx-file-drop
      (click)="uploadInput.click()"
      (onFileDrop)="onFileDrop($event)"
      >
      <ng-template class="file-drop-cont" ngx-file-drop-content-tmp>
        <div class="file-drop-content">
          <h4>Select a CSV file to upload</h4>
          <p> or drag and drop it here</p>

        </div>
      </ng-template>
    </ngx-file-drop>
  </div>

  <div class="upload-information" *ngIf="uploadedFile">
    <div class="file-info">
      <p class="info file"> File : {{uploadedFile}}</p>
      <p class="info error"> Error Message: <span [innerHTML]="fileUploadedError"></span></p>
    </div>
  </div>

  <input #uploadInput hidden type="file" (change)="onFileSelect($event)" accept=".csv" />
  